@import "tailwindcss";

@theme {
  --color-brand: #FF4D00;
  --color-dark: #050505;
  --color-surface: #121212;
  --color-muted: #E5E5E5;
  
  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-albert: "Albert Sans", sans-serif;
  
  --ease-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

.font-albert {
  font-family: var(--font-albert);
}

:root {
  --background: #050505;
  --foreground: #E5E5E5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: 0.02em;
}

/* Custom Scrollbar - Made transparent as requested */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Lenis CSS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Utility to hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
